:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: rgb(0,0,0);
  --white: rgb(255, 255, 255);
  --razzmatazz:rgb(254,44,85);
  --splash:#25f4ee;
  color:var(--white);
  h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position:relative;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.bg {
  background-image: linear-gradient(-30deg, var(--razzmatazz) 10%, var(--black) 10%, var(--black) 90%, var(--splash) 90%);
  position:fixed;
  bottom:0;
  left:0%;
  right:0%;
  top:0%;
  z-index:-1;
}


